<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <title>经销商端</title>
  <style>
    :focus {
      outline: none;
    }

    html,
    body {
      height: 100%;
    }

    body {
      font-family: "Avenir Next", Nunito, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      color: #888888;
      font-weight: 400;
      overflow: hidden;
    }

    #app {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
    }
  </style>

</head>

<body>
  <div id="app" style="height: 100%"></div>
</body>

</html>